p.lead{
    font-size:0.8rem;
}
#sidebar {
    .site-title{
    font-size:2.1rem;
    }
}
.home #sidebar {
    .site-title{
    font-size:2.1rem;
    }
}
.content {
    font-size: 0.8rem;
}
figure.highlight{
    margin: 0rem;
    
    tr{
        border: 0rem;    
        margin: 0rem;    
        padding: 0rem;
        td{
            border: 0rem;    
            padding: 0rem;
        }
    }
}
